.form-group.pull-right
  button.btn.btn-default(ng-click='queryUsuario(); countUsuario(); share.window("listUsuario");')=__('List')
  | 
  button.btn.btn-success(ng-click='clearUsuario(); share.window("createOrUpdateUsuario");')=__('New')