.form-group
  button.btn.btn-success(type='button', ng-click='createOrUpdateUsuario("listUsuario");')=__('Save')
  | 
  button.btn.btn-warning(type='button', ng-click='createOrUpdateUsuario("createOrUpdateUsuario");')=__('Save and continue')
  | 
  button.btn.btn-danger(type='button', ng-show="usuario._id", ng-click='usuario.$delete(); clearUsuario(); queryUsuario(); countUsuario(); share.window("listUsuario");')=__('Remove')
  | 
  button.btn.btn-info(type='button', ng-click='share.window("showUsuario")')=__('Show')
  | 
  button.btn.btn-default(type='button', ng-click='clearUsuario(); queryUsuario(); share.window("listUsuario")')=__('List')