.jumbotron.jumbotron_center
  .container
    .row
      .col-md-8
        h1 graoJS!
        blockquote
          p O graoJS....
          em Havendo olhos suficientes, todos os erros são óbvios.
          small Por
            |  
            cite(title='The Cathedral and the Bazaar') Eric Steven Raymond
          p 
            a.btn.btn-lg.btn-info= __('Learn more')
.container
  .row
    .col-md-4
      h3 A Framework
      p ...
      p 
        a.btn.btn-primary(href='/')= __('Read more')
    .col-md-4
      h3 Scaffolding
      p ...
      p 
        a.btn.btn-primary(href='/')= __('Read more')
    .col-md-4
      h3 Segurança
      p ... 
      p 
        a.btn.btn-primary(href='/')= __('Read more')