
extends /frontend/theme/layout
block content
  .container(ng-controller='ActivityPublicController', ng-init='clearActivity(); share.window("listActivity");')
    .row
      .col-md-12
        h2=__('Activitys')
    .row
      .col-md-12
        include activity_dashboard_actions
    .row(ng-switch='share.selectWindow')
      .col-md-12(ng-switch-when="listActivity")
        include activity_list
      .col-md-6.col-md-offset-3(ng-switch-when="createOrUpdateActivity")
        include activity_form
        +form_activity(true)
      .col-md-6.col-md-offset-3(ng-switch-when="showActivity")
        include activity_show

    .row
      .col-md-12
        include activity_dashboard_actions

    script(src='/js/activity/ActivityPublicFactory.js', type='text/javascript', charset='utf-8').
    script(src='/js/activity/ActivityPublicController.js', type='text/javascript', charset='utf-8').