.form-group
  button.btn.btn-success(type='button', ng-click='createOrUpdateActivity("listActivity");')=__('Save')
  | 
  button.btn.btn-warning(type='button', ng-click='createOrUpdateActivity("createOrUpdateActivity");')=__('Save and continue')
  | 
  button.btn.btn-danger(type='button', ng-show="activity._id", ng-click='activity.$delete(); clearActivity(); queryActivity(); countActivity(); share.window("listActivity");')=__('Remove')
  | 
  button.btn.btn-info(type='button', ng-click='share.window("showActivity")')=__('Show')
  | 
  button.btn.btn-default(type='button', ng-click='clearActivity(); queryActivity(); share.window("listActivity")')=__('List')