.form-group.pull-right
  button.btn.btn-default(ng-click='queryActivity(); countActivity(); share.window("listActivity");')=__('List')
  | 
  button.btn.btn-success(ng-click='clearActivity(); share.window("createOrUpdateActivity");')=__('New')