.row
  .col-md-12(collapse="notFilter")
    include activity_filter
  .col-md-12
    button.btn.btn-default.btn-block.btn-xs(ng-click="notFilter = !notFilter")=__('FILTER')
.row
  .col-md-12
    .row
      .col-md-3(ng-repeat="activity in dataList.data")
        .thumbnail
          .caption
            p {{ activity.name }} 

            p 
            span(ng-repeat="activity in activity.activitys") {{ activity.name }} 

            button.btn.btn-primary.btn-sm.icon.icon-edit(type='button', ng-click='selectActivity($index); share.window("createOrUpdateActivity");')=__('Edit')
            | 
            button.btn.btn-danger.btn-sm.icon.icon-trash(type='button', ng-click='destroyActivityByIndex($index); queryActivity();')=__('Remove')
            | 
            button.btn.btn-info.btn-xs.icon.icon-plus(type='button', ng-click='selectActivity($index); share.window("showActivity");')=__('Show')
.row
  .col-md-12.text-right
    p=__('Listing {{ dataList.status.listing }} of {{ dataList.status.filtered }} filtered on {{ dataList.status.totality }} registers')
  .col-md-12
    button.btn.btn-default.btn-lg.btn-block(ng-click='queryMoreActivity(); countActivity();')=__('MORE')