.row
  .col-md-12(collapse="notFilter")
    include user_filter
  .col-md-12
    button.btn.btn-default.btn-block.btn-xs(ng-click="notFilter = !notFilter")=__('FILTER')
.row
  .col-md-12
    .row
      .col-md-3(ng-repeat="user in dataList.data")
        .thumbnail
          .caption
            p {{ user.username }} 

            p {{ user.email }} 

            p 
            span(ng-repeat="activity in user.activitys") {{ activity.name }} 

            p {{ user.enabled }} 

            button.btn.btn-primary.btn-sm.icon.icon-edit(type='button', ng-click='selectUser($index); share.window("createOrUpdateUser");')=__('Edit')
            | 
            button.btn.btn-danger.btn-sm.icon.icon-trash(type='button', ng-click='destroyUserByIndex($index); queryUser();')=__('Remove')
            | 
            button.btn.btn-info.btn-xs.icon.icon-plus(type='button', ng-click='selectUser($index); share.window("showUser");')=__('Show')
.row
  .col-md-12.text-right
    p=__('Listing {{ dataList.status.listing }} of {{ dataList.status.filtered }} filtered on {{ dataList.status.totality }} registers')
  .col-md-12
    button.btn.btn-default.btn-lg.btn-block(ng-click='queryMoreUser(); countUser();')=__('MORE')