.container
  hr
  footer
  p
    a(href='/', style='color: black;')
      span(style='-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;') &copy; 
      |  graoJS
      |  2013