head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  title graojs - GraoJS Benchmark
  meta(name='description', content='GraoJS Benchmark')
  link(rel='shortcut icon', href='/img/favicon.ico')
  include css
  include javascript