html(ng-app='graoJS', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://ogp.me/ns#', xml:lang='en', lang='en')
  include head
  body
    include topbar
    .container.container_top
      block content
    include foot